APP_ENV=dev
APP_DEBUG=true

POSTGRES_HOST=debateshare-database
POSTGRES_PORT=5432
POSTGRES_DATABASE=debateshare
POSTGRES_USER=debateshare
POSTGRES_PASSWORD=password
POSTGRES_ROOT_PASSWORD=rootpassword

S3_BASE_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=